/* 
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/

/* Hides the content area until we are ready to display after paddings have been adjusted. 
    oj-complete is a marker class that is applied by the appController 
    after adjusting the content area. */
.oj-applayout-content:not(.oj-complete) {
  visibility: hidden;
}

/* -------------------------------------------------------- */
/* Bottom Nav */
.oj-hybrid-applayout-navbar-page, .oj-hybrid-applayout-navbar-fixed-top, .oj-hybrid-applayout-navbar-app, .oj-hybrid-applayout-navbar-fixed-bottom, .oj-hybrid-applayout-navbar {
  background-color: #A41935;
}

.oj-applayout-fixed-bottom .oj-hybrid-applayout-navbar-app {
  border-top: 1px solid #F9C918;
}

.oj-navigationlist-app-level.oj-navigationlist-horizontal .oj-navigationlist-item:not(.oj-disabled) a.oj-navigationlist-item-content > .oj-navigationlist-item-label {
  color: #ffffff;
}

.oj-navigationlist-app-level.oj-navigationlist-horizontal .oj-navigationlist-item:not(.oj-disabled):not(.oj-hover):not(.oj-selected) .oj-navigationlist-item-icon {
  color: #F9C918;
}

.oj-navigationlist-app-level.oj-navigationlist-horizontal:not(.oj-navigationlist-icon-only) .oj-navigationlist-item.oj-selected:not(.oj-hover) .oj-navigationlist-item-icon {
  color: #fafafa;
}

/* ------------------------------------------------------- */
/* Top Nav */
.oj-hybrid-applayout-header, .oj-hybrid-applayout-header-no-border {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.534);
  border-bottom: 1px solid #F9C918;
  background-color: #A41935;
  padding: 0 1rem 0 1rem;
}

.oj-hybrid-applayout-header-title {
  font-weight: 500;
  font-size: 1.25rem;
  color: #fafafa;
  padding: 0;
  margin: 0;
}


/* -------------------------------------------------------- */
/* login page */
.svm-button-login.oj-buttonset .oj-button-jqui.oj-default.oj-button-full-chrome,
.svm-button-login.oj-buttonset .oj-button-jqui.oj-focus-only.oj-button-full-chrome, .svm-button-login.oj-button-jqui.oj-default.oj-button-full-chrome, .svm-button-login.oj-button-jqui.oj-focus-only.oj-button-full-chrome,
.svm-button-login.oj-button.oj-default.oj-button-full-chrome .oj-button-button,
.svm-button-login.oj-button.oj-focus-only.oj-button-full-chrome .oj-button-button {
  background-color: #F9C918;
  background-image: none;
  border-color: transparent;
  color: #A41935;
  text-shadow: none; }

.svm-button-login.oj-buttonset .oj-button-jqui.oj-active.oj-button-full-chrome, .svm-button-login.oj-button-jqui.oj-active.oj-button-full-chrome,
.svm-button-login.oj-button.oj-active.oj-button-full-chrome .oj-button-button {
  background-color: #FFFFFF;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  border-color: transparent;
  color: #F9C918;
  text-shadow: none; }

.svm-login-input {
  background-color: #FFFFFF;
  color: #A41935;
}
/*------------------- */

  .svm-dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

/* Case Page */
.case-tab-content {
  height:580px;
  overflow:auto;
}
.case-edge-top,
.case-edge-bottom {
  flex-direction: column;
}
.case-edge-start oj-tab-bar,
.case-edge-end oj-tab-bar {
  max-width: 300px;
  width:25%;
}
.case-edge-start oj-switcher,
.case-edge-end oj-switcher {
  width: 75%;
}
.case-edge-bottom oj-tab-bar,
.case-edge-end oj-tab-bar {
  -webkit-order: 1;
  order: 1;
}

.case-priority-High-icon {
  background: url("../../css/images/high_priority.svg") no-repeat center center;
  vertical-align: middle; }

.case-priority-Med-icon {
  background: url("../../css/images/med_priority.svg") no-repeat center center;
  vertical-align: middle; }

.case-priority-Low-icon {
  background: url("../../css/images/low_priority.svg") no-repeat center center;
  vertical-align: middle; }

.case-icon-32 {
    width: 32px;
    height: 32px; }

.case-summary-field-name-wrapper {
      min-width: 5rem; }

.case-incident-summary-field-name {
        color: rgba(0, 0, 0, 0.6);
        line-height: 2.5rem; }

.case-incident-summary-content {
          line-height: 2.5rem; }

/* -------------------------------------------------------- */
/* floating action button */
.svm-fab {
  position: fixed;
  right: 20px;
  bottom: 65px;
  z-index: 1;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px; }

.svm-fab.oj-button.oj-default.oj-button-half-chrome {
  box-shadow: -1px 7px 12px -2px #9c9c9c; }

.svm-fab > .oj-button-button {
  border: 0; }

  .svm-add-icon {
    height: 50px;
    width: 50px;
    margin: 0 !important; }

    .svm-add-icon::before {
      height: 50px;
      width: 50px;
      content: '';
      background: url("/css/images/FAB_icon@2x.png");
      background-size: 50px; }

/* -------------------------------------------------------- */
/* Parts / Labor popup */
      .grid-popup {
        width: 80vw;  
        height: 80vh; 
        display: none;
      } 
      .grid-popup-body {
        width: 75vw;  
        height: 75vh; 
        display: flex; 
        flex-direction: column;
        align-items: stretch;
      } 
      .grid-popup-header {
        align-self: flex-start;
        margin-bottom: 10px;
      } 
      .grid-popup-content {
        align-self: stretch;
        overflow: auto;
        flex-basis: 60vh;
      } 
      .grid-popup-footer {
        align-self: flex-end;
        margin-top: 10px; 
      }